<% layout("/layouts/boilerplate") %>
<body>
<br><br>
<div class="row">
    <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <br>  
    <!--                                                                        for images -->
    <form action="/listings"  method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" required name="listing[title]" placeholder="Add a catchy title" class="form-control">
            <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" required placeholder="Enter Description" class="form-control"></textarea>
            <div class="invalid-feedback">Please enter a short decription</div>

        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input type="file" required name="listing[image]"  class="form-control">
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="text" required name="listing[price]" placeholder="1200"  class="form-control">
            <div class="invalid-feedback">Price should be valid</div>
                
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" required name="listing[country]" placeholder="India"  class="form-control">
                <div class="invalid-feedback">Country name should be valid</div>
                
            </div>

        </div>
    
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="Enter Location"  class="form-control" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
       
        <button class="btn btn-dark add-btn">Add</button>
    </form>
     <br><br>
    </div>
    </div>
</body>
